<h1 class="text-center">Bags list</h1>

<ng-container *ngIf="bags && bags.length > 0; else empty">
  <table class="table text-center table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Items Counts</th>
        <th scope="col">Weight</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr role="button"
          *ngFor="let bag of bags">
        <td>{{bag.bagNumber}}</td>
        <td>{{bag.type | enumToString:BagType}}</td>
        <td>{{bag.itemsCount}}</td>
        <!-- TODO: move precision to settings -->
        <td>{{bag.weight | number:'0.2'}}</td>
        <td>{{bag.price | number:'0.2'}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #empty>

  <div class="text-center">
    Shipments list is empty.
  </div>

</ng-template>
